@import "~carbon-components/css/carbon-components.min.css";

.navbar {
    background-color: #054242 !important;
    border: solid 0.5px white;
}

.sideNav {
    background-color: #054242 !important;
    width: 100%;
}

.sideNavClosed {
    width: 0px;
}

.h1 {
    font-size: 12;
    color: red;
}
.body {
    margin-top: 10rem;
}